{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "selector-class-pattern": null,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "color-function-notation": null
  }
}
